* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    background-color: #121212;
    min-height: 100vh;
}

#pageTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 auto;

    padding: 1rem;
    min-width: 0;
    height: 4rem;

    font-size: 2rem;
    background-color: black;
    color: white;
}

/* calculator style*/
/* calculator page */
#calculatorContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

/* calculator outline */
#calculator {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid white;

    width: 25rem;
    height: 30rem;
    flex-shrink: 0;
    background: url(image/carbonfiber.jpg);
    background-attachment: fixed;
    background-size: 200px auto;
}

#screen {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    height: 10rem;
    border-radius: 15px 15px 0 0;;
}

#display {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 8rem;
    margin: 1rem;
    background-color: white;
}

#operator {
    width: 3rem;
    height: 4rem;
    margin-left: 0.5rem;
    font-size: 3rem;
}

#topDisplay,
#bottomDisplay {
    margin: 0 0.5rem 0 0.5rem;
    width: 22rem;
    overflow: hidden;
}

#topDisplay {
    width: 16rem;
    height: 4rem;
}

#numerator,
#topDisplay,
#bottomDisplay {
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 3rem;
    overflow: hidden;
}
#numerator {
    justify-content: flex-start;
}

#bodyCalculator {
    display: flex;
    flex-direction: column;
    height: 20rem;
    border-radius: 0 0 15px 15px;
    flex: 0 0 auto;
}
/* function button container */
#topFunctionButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5rem;
}



/* container for all buttons on the bottom */
#bottomButtons {
    flex: 1;
    display: flex;
    padding: .2rem;
}

/* container for all numbered and period buttons on the left */
#numeralContainer {
    border-radius: 0 0 0 15px;
    display: flex;
    flex: 2 0 auto;
    justify-content: center;
    align-items: center;

    padding: 0.3rem;
}

/* container for flex objects containing numeral buttons   */
#numeral {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* all button style */
.topButtons,
.numButtons,
.functionButtons {
    border: 2px solid black;
}

.topButtons {
    height: 3rem;
    width: 4rem;
    font-size: 1.2rem;
    border-radius: 10px;
}

/* number buttonstyle    */
.numButtons,
.functionButtons {
    flex: 1 auto;
    width: 4rem;
    height: 3rem;
    font-size: 1.5rem;
    margin: .3rem
}

#decimal {
    padding: 5px 24px;
    border-radius: 0 0 0 15px;
}

#seven {
    border-radius: 15px 0 0;
}

#ac {
    border-radius: 0 15px 0 0;
}

#ans {
    border-radius: 0 0 15px 0;
}

#topRow,
#middleRow,
#bottomRow,
#endRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    flex: 1 auto;
}

#functionsContainer {
    display: flex;
    justify-content: center;
    border-radius: 0 0 15px 0;
}

#functions {
    flex: 1;

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

#rowZero,
#rowOne,
#rowTwo,
#rowThree {
    display: flex;
}

#del,
#ac {
    background-color: maroon;
    color: white;
}

.functionButtons {
    flex: 1;
    min-width: 3rem;
}